html {
    background-color: black;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    float: right;

    font-size: 2.3em;
    border: solid 1px #3a3b3d;
    color: white;

    width: 70px;
    height: 70px;
    max-width: 70px;
    min-height: 70px;

    text-align: center;
    vertical-align: middle;
    line-height: 1.8em;

}

.parent-row {
    display: flex;
    justify-content: center;
    align-items: center;
}




